<!-------------------->
<div class="admin-form">
    <data-ng-include src="'views/maintenance/partials/show-data-component.html'"></data-ng-include>
    <form class="form-horizontal" role="form" autocomplete="off">
        <h3>Monthly Entries</h3>
        <h4 class="error-message" ng-model="errorMessage" ng-show="errorMessage.length"> {{errorMessage}} </h4>
        <div class="form-group">
            <label class="control-label col-sm-2" for="id">Period</label>
            <div class="col-sm-3">
                <p class="input-group">
                    <input type="text" class="form-control" uib-datepicker-popup="{{periodFormat}}"
                           ng-model="maintenance.period"
                           show-button-bar="false"
                           max-date="maxDt"
                           datepicker-options="dateOptions"
                           datepicker-mode="'month'"
                           is-open="periodPicker.opened"
                           ng-change="adminViewMonthChange()"
                           close-text="Close"/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="periodDatePickerOpen()"><i
                                class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </p>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="id">Payment Date</label>
            <div class="col-sm-3">
                <p class="input-group">
                    <input type="text" class="form-control" uib-datepicker-popup="{{format}}"
                           ng-model="maintenance.paymentDate"
                           show-button-bar="false"
                           show-weeks="'false'"
                           max-date="maxDt"
                           is-open="datePicker.opened"
                           datepicker-options="adminViewDateOptions"
                           close-text="Close"/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="datePickerOpen()"><i
                            class="glyphicon glyphicon-calendar"></i></button>
                </span>
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="id">Type</label>
            <div class="col-sm-3">
                <select class="form-control" name="repeatSelect" id="maintenanceType"
                        ng-model="maintenance.maintenanceType"
                        ng-options="value.id as value.type for value in maintenanceType" ng-change="changeCategory()">
                    <option value="">-- Select Type --</option>
                </select>
            </div>
        </div>
        <div class="form-group" ng-show="maintenance.maintenanceType === 1">
            <label class="control-label col-sm-2" for="id">Category</label>
            <div class="col-sm-3">
                <select class="form-control" name="repeatSelect" id="listOfExpenses" ng-model="maintenance.category"
                        ng-options="value._id as value.type for value in listOfExpenses ">
                    <option value="">-- Select Category --</option>
                </select>
            </div>
        </div>
        <div class="form-group" ng-show="maintenance.maintenanceType === 2">
            <label class="control-label col-sm-2" for="id">Category</label>
            <div class="col-sm-3">
                <select class="form-control" name="repeatSelect" id="listOfIncomes" ng-model="maintenance.category"
                        ng-options="value._id as value.type for value in listOfIncomes ">
                    <option value="">-- Select Category --</option>
                </select>
            </div>
        </div>
        <div class="form-group" ng-show="maintenance.maintenanceType === 2">
            <label class="control-label col-sm-2" for="flat">Flat Number</label>
            <div class="col-sm-3">
                <select class="form-control" name="repeatSelect" id="flat" ng-model="maintenance.flat"
                        ng-options="value._id as value.flatNo for value in getAllFlats">
                    <option value="">-- Select Flat --</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="id">Amount</label>
            <div class="col-sm-3">
                <input type="text" id="amount" placeholder="Enter Amount" ng-model="maintenance.amount"
                       data-max-length="4" ng-only-number>
            </div>
        </div>

        <div class="form-group" ng-show="maintenance.maintenanceType === 1">
            <label class="control-label col-sm-2" for="id">Bill</label>
            <div class="col-sm-3">
                <input type="text" id="attachmentLink" placeholder="Paste attachment url"
                       ng-model="maintenance.attachmentUrl">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="id">Comments</label>
            <div class="col-sm-3">
                <input type="text" id="id" placeholder="Enter Comments" ng-model="maintenance.description">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-2">
                <button class="btn btn-default" ng-click="addMonthlyIncomeOrExpenses()">Add</button>
                <button class="btn btn-danger" ng-click="refreshForm()">Cancel</button>
            </div>
        </div>
    </form>
    <div>&nbsp;</div>
    <data-ng-include ng-show="showMonthView" src="'views/maintenance/partials/month-view.html'"></data-ng-include>
    <data-ng-include ng-show="showYearView" src="'views/maintenance/partials/year-view.html'"></data-ng-include>
</div>