<!-------------------->
<div class="admin-form">
    <form class="form-horizontal" role="form" autocomplete="off">
        <div class="form-group">
            <label class="control-label col-sm-2" for="id">Period</label>
            <!--<input width="50" type="text" id="year" placeholder="year" ng-model="maintenance.period">-->
            <p class="input-group col-md-3">
                <input type="text" class="form-control" uib-datepicker-popup="{{periodFormat}}"
                       ng-model="maintenance.period"
                       is-open="periodPicker.opened"
                       close-text="Close"/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="periodDatePickerOpen()"><i
                                class="glyphicon glyphicon-calendar"></i></button>
                    </span>
            </p>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="id">Payment Date</label>
            <p class="input-group col-md-3">
                <input type="text" class="form-control" uib-datepicker-popup="{{format}}"
                       ng-model="maintenance.paymentDate"
                       is-open="datePicker.opened"
                       close-text="Close"/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="datePickerOpen()"><i
                            class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </p>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="id">Type</label>
            <select name="repeatSelect" id="maintenanceType" ng-model="maintenance.maintenanceType"
                    ng-options="value.id as value.type for value in maintenanceType">
                <option value="">- - Select Type - -</option>
            </select>
        </div>
        <div class="form-group" ng-show="maintenance.maintenanceType === 1">
            <label class="control-label col-sm-2" for="id">Category</label>
            <select name="repeatSelect" id="listOfExpenses" ng-model="maintenance.category"
                    ng-options="value._id as value.type for value in listOfExpenses ">
                <option value="">-- Select Category --</option>
            </select>
        </div>
        <div class="form-group" ng-show="maintenance.maintenanceType === 2">
            <label class="control-label col-sm-2" for="id">Category</label>
            <select name="repeatSelect" id="listOfIncomes" ng-model="maintenance.category"
                    ng-options="value._id as value.type for value in listOfIncomes ">
                <option value="">-- Select Category --</option>
            </select>
        </div>
        <div class="form-group" ng-show="maintenance.maintenanceType === 2">
            <label class="control-label col-sm-2" for="flat">Flat Number</label>
            <select name="repeatSelect" id="flat" ng-model="maintenance.flat"
                    ng-options="value.id as value.flatNo for value in allFlats">
                <option value="">-- Select Flat --</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="id">Amount</label>
            <input type="text" id="amount" placeholder="Enter Amount" ng-model="maintenance.amount">
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="id">Comments</label>
            <input type="text" id="id" placeholder="Enter Comments" ng-model="maintenance.description">
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-2">
                <button class="btn btn-default" ng-click="addMonthlyIncomeOrExpenses()">Add</button>
                <button class="btn btn-danger" ng-click="refreshForm()">Cancel</button>
            </div>
        </div>
    </form>
    <div class="table-responsive">
        <label>Expenses of {{ dateFilter(maintenance.period, periodFormat) }}</label>
        <table id="expenses" class="table table-hover table-bordered">
            <thead>
            <tr>
                <th>Payment Date</th>
                <th>Category</th>
                <th>Amount</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="expenses in expensesArr" ng-dblclick="modifyData(expenses, 'Expenses')">
                <td>{{ dateFilter(expenses.paymentDate, format) }}</td>
                <td data-toggle="tooltip" data-original-title="{{expenses.description}}" tooltip-loader>{{
                    expenses.category }}
                </td>
                <td>{{ expenses.amount }}</td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td text-align="right" colspan="2">Grand Total</td>
                <td>{{ totalExpenses }}</td>
            </tr>
            </tfoot>
        </table>
    </div>

    <div class="table-responsive">
        <label>Incomes of {{ dateFilter(maintenance.period, periodFormat) }}</label>
        <table class="table table-hover table-bordered">
            <thead>
            <tr>
                <th>Payment Date</th>
                <th>Category</th>
                <th>Amount</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="income in allIncomes" ng-dblclick="modifyData(income, 'Incomes')">
                <td>{{ dateFilter(income.paymentDate, format) }}</td>
                <td data-toggle="tooltip" data-original-title="{{income.description}}" tooltip-loader>{{
                    income.category }}
                <td>{{ income.amount }}</td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td text-align="right" colspan="2">Grand Total</td>
                <td>{{ totalIncome }}</td>
            </tr>
            </tfoot>
        </table>
    </div>
</div>