<!-------------------->
<div class="admin-form">

    <form class="form-horizontal" role="form" autocomplete="off">
        <h3>Monthly Entries</h3>
        <h4 class="error-message" ng-model="errorMessage" ng-show="errorMessage.length"> {{errorMessage}} </h4>
        <div class="form-group">
            <label class="control-label col-sm-2" for="id">Period</label>
            <div class="col-sm-3">
                <p class="input-group">
                    <input type="text" class="form-control" uib-datepicker-popup="{{periodFormat}}"
                           ng-model="maintenance.period"
                           show-button-bar="false"
                           max-date="maxDt"
                           datepicker-options="dateOptions"
                           datepicker-mode="'month'"
                           is-open="periodPicker.opened"
                           close-text="Close"/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="periodDatePickerOpen()"><i
                                class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </p>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="id">Payment Date</label>
            <div class="col-sm-3">
                <p class="input-group">
                    <input type="text" class="form-control" uib-datepicker-popup="{{format}}"
                           ng-model="maintenance.paymentDate"
                           show-button-bar="false"
                           show-weeks="'false'"
                           max-date="maxDt"
                           is-open="datePicker.opened"
                           datepicker-options="adminViewDateOptions"
                           close-text="Close"/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="datePickerOpen()"><i
                            class="glyphicon glyphicon-calendar"></i></button>
                </span>
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="id">Type</label>
            <div class="col-sm-3">
                <select class="form-control" name="repeatSelect" id="maintenanceType"
                        ng-model="maintenance.maintenanceType"
                        ng-options="value.id as value.type for value in maintenanceType" ng-change="changeCategory()">
                    <option value="">-- Select Type --</option>
                </select>
            </div>
        </div>
        <div class="form-group" ng-show="maintenance.maintenanceType === 1">
            <label class="control-label col-sm-2" for="id">Category</label>
            <div class="col-sm-3">
                <select class="form-control" name="repeatSelect" id="listOfExpenses" ng-model="maintenance.category"
                        ng-options="value._id as value.type for value in listOfExpenses ">
                    <option value="">-- Select Category --</option>
                </select>
            </div>
        </div>
        <div class="form-group" ng-show="maintenance.maintenanceType === 2">
            <label class="control-label col-sm-2" for="id">Category</label>
            <div class="col-sm-3">
                <select class="form-control" name="repeatSelect" id="listOfIncomes" ng-model="maintenance.category"
                        ng-options="value._id as value.type for value in listOfIncomes ">
                    <option value="">-- Select Category --</option>
                </select>
            </div>
        </div>
        <div class="form-group" ng-show="maintenance.maintenanceType === 2">
            <label class="control-label col-sm-2" for="flat">Flat Number</label>
            <div class="col-sm-3">
                <select class="form-control" name="repeatSelect" id="flat" ng-model="maintenance.flat"
                        ng-options="value._id as value.flatNo for value in getAllFlats">
                    <option value="">-- Select Flat --</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="id">Amount</label>
            <div class="col-sm-3">
                <input type="text" id="amount" placeholder="Enter Amount" ng-model="maintenance.amount"
                       data-max-length="4" ng-only-number>
            </div>
        </div>

        <div class="form-group" ng-show="maintenance.maintenanceType === 1">
            <label class="control-label col-sm-2" for="id">Bill</label>
            <div class="col-sm-3">
                <input type="text" id="attachmentLink" placeholder="Paste attachment url" ng-model="maintenance.attachmentUrl">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="id">Comments</label>
            <div class="col-sm-3">
                <input type="text" id="id" placeholder="Enter Comments" ng-model="maintenance.description">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-2">
                <button class="btn btn-default" ng-click="addMonthlyIncomeOrExpenses()">Add</button>
                <button class="btn btn-danger" ng-click="refreshForm()">Cancel</button>
            </div>
        </div>
    </form>
    <div>&nbsp;</div>
    <div>
        <h2>
            Total Expenditure of {{ dateFilter(maintenance.period, periodFormat) }}
            <label class="pull-right {{spanColor}}">By Hand: <span>{{getActualResult === isNaN(getActualResult) ? 0 : getActualResult}}.00</span></label>
        </h2>
    </div>
    <div class="table-responsive income">
        <h3>Income</h3>
        <table class="table table-hover table-bordered">
            <thead>
            <tr>
                <th>Payment Date</th>
                <th>Flat</th>
                <th>Category</th>
                <th>Amount</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="income in allIncomes | orderBy : 'flatNo'" ng-dblclick="modifyData(income, 'Incomes')">
                <td>{{ dateFilter(income.paymentDate, format) }}</td>
                <td>{{income.flatNo}}</td>
                <td>
                    <div data-toggle="tooltip" data-original-title="{{income.description}}" tooltip-loader>
                        {{ income.category }}
                    </div>
                <td>{{ income.amount }}.00</td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td text-align="right" colspan="3">Total Income</td>
                <td>{{ totalIncome }}.00</td>
            </tr>
            </tfoot>
        </table>
    </div>
    <div class="table-responsive expenses">
        <h3>Expenses</h3>
        <table id="expenses" class="table table-hover table-bordered">
            <thead>
            <tr>
                <th>Payment Date</th>
                <th>Category</th>
                <th>Amount</th>
                <th>Bill</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="expenses in expensesArr" ng-dblclick="modifyData(expenses, 'Expenses')">
                <td>{{ dateFilter(expenses.paymentDate, format) }}</td>
                <td>
                    <div data-toggle="tooltip" data-original-title="{{expenses.description}}" tooltip-loader>
                        {{ expenses.category }}
                    </div>

                </td>
                <td ng-show="expenses.bill.length"><a href="{{ expenses.bill }}" target="_blank">Bill</a></td>
                <td>{{ expenses.amount }}.00</td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td text-align="right" colspan="3">Total Expenses</td>
                <td>{{ totalExpenses }}.00</td>
            </tr>
            <tr>
                <td text-align="right" colspan="3">Total Income</td>
                <td>{{ totalIncome }}.00</td>
            </tr>
            <tr>
                <td colspan="3">Grand Total</td>
                <td>{{getActualResult === isNaN(getActualResult) ? 0 : getActualResult}}.00</td>
            </tr>
            </tfoot>
        </table>
    </div>
</div>