/*body {
    overflow: hidden;
    background-color: #000000;
}*/
/*---------------------------------------------------------
NAV
---------------------------------------------------------*/
.container{
    padding-right: 1px !important;
    padding-left: 1px !important;
    margin-right: 1px !important;
    margin-left: 10px !important;   
}

.navbar-nav{
     float: left !important;
}

.slider{
    border: 1px solid #FFF !important;
    margin-top: 1px !important;
    height: 450px !important;
}
.imageNav {
    text-align: center;
    display: block;
    position: absolute;
    z-index: 1002;
    left: 0;
    bottom: -4px;
    right: 0;
    height: 48px;
}

.nonDraggableImage{
    -webkit-user-drag: none;
}

.imageNav .imageWrapper {
    margin: 0 auto;
    width: 100%;
    padding: 1em 0 .8em;
}

.imageNav ul {
    margin: 0;
    width: 100%;
}

.imageNav .dot, .imageNav .dot a {
    display: inline-block;
    zoom: 1;
}

.dots .dot {
    position: relative;
    margin: 0 8px;
    width: 12px;
    height: 12px;
}

.dots .dot a {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 6px;
    height: 6px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    background: #FFF;
    border: 1px solid transparent;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: background-color 0.25s, border-color 0.25s;
    -moz-transition: background-color 0.25s, border-color 0.25s;
    transition: background-color 0.25s, border-color 0.25s;
}

.dots .dot a.active {
    border-color: #FFF;
    background-color: transparent;
}

.admin-form{
    padding-left: 20px;
}