<div class="account-container register">
    <div class="content clearfix">
        <form novalidate name="signupForm" autocomplete="off">
            <h1>Signup for Free Account</h1>
            <div class="login-fields">
                <p>Create your free account:</p>
                <div class="field">
                    <label for="email">Email Address:</label>
                    <input type="text" name="email" id="email" value="" placeholder="Email" class="login"
                           ng-model="signup.username" validator="required,email"
                           required-error-message="Email is required"
                           email-error-message="Invalid email address" valid-method="watch"/>
                </div> <!-- /field -->
                <div class="field">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" value="" placeholder="Password" class="login"
                           ng-model="signup.password" validator="required" required-error-message="Password is required"
                           valid-method="watch"/>
                </div> <!-- /field -->

                <div class="field">
                    <label for="confirm_password">Confirm Password:</label>
                    <input type="password" id="confirm_password" name="confirm_password" value=""
                           placeholder="Confirm Password" class="login" compare-to="signup.password"
                           ng-model="password_c"/>
                </div> <!-- /field -->
                <div class="field">
                    <label for="phoneNumber">Phone Number:</label>
                    <input type="number" id="phoneNumber" name="phoneNumber" ng-model="signup.phoneNumber"
                           value="" validator="required,Phone Number" required-error-message="Phone Number is required"
                           phoneNumber-error-message="Invalid Phone Number" valid-method="watch"
                           placeholder="Phone Number" class="login" phone-maxlength="10"/>
                </div> <!-- /field -->
                <div class="field">
                    <label for="roles">Enter Role:</label>
                    <div class="dropdown">
                        <button id="roles" class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="true">
                            {{selectedRole}}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="roles">
                            <li ng-repeat="a in validRoles"><a ng-click="rolesDropdownSelected(a)">{{a}}</a></li>
                        </ul>
                    </div> <!-- /login-fields -->

                    <div class="login-actions">

				<span class="login-checkbox">
					<input id="Field" name="Field" type="checkbox" class="field login-checkbox" value="First Choice"
                           tabindex="4"/>
					<label class="choice" for="Field">Agree with the Terms & Conditions.</label>
				</span>

                        <button class="button btn btn-primary btn-large" validation-submit="signupForm"
                                ng-click="doRegister(signupForm.$valid)">
                            Register
                        </button>

                    </div> <!-- .actions -->

        </form>

    </div> <!-- /content -->

</div> <!-- /account-container -->


<!-- Text Under Box -->
<div class="login-extra">
    Already have an account? <a data-ui-sref="login">Login to your account</a>
</div> <!-- /login-extra -->