<div class="navbar navbar-fixed-top">

    <div class="navbar-inner">
        <div class="container">
            <h1>
                <a class="brand" href="index.html">T-Mobile</a>
            </h1>

            <div class="nav-collapse">
                <ul class="nav pull-right">
                    <li class="">
                        <a href="javascript:;" class="">
                            <i class="icon-chevron-left"></i>
                            Help?
                        </a>
                    </li>
                </ul>
            </div><!--/.nav-collapse -->

        </div> <!-- /container -->

    </div> <!-- /navbar-inner -->

</div> <!-- /navbar -->