    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <h1>
                    <a class="brand" href="index.html">T-Mobile</a>
                </h1>
            </div>
            <!-- /container -->
        </div>
        <!-- /navbar-inner -->
    </div>
    <!-- /navbar -->
    <div class="container ">

        <div class="ct-contact pull-right">
            <ul class="ct-socials list-inline list-unstyled">
                <li><a data-original-title="Facebook" href="https://www.facebook.com/createITpl" data-toggle="tooltip" data-placement="top" title=""><i class="fa icon-facebook-sign"></i></a></li>
                <li><a data-original-title="Twitter" href="https://twitter.com/createitpl" data-toggle="tooltip" data-placement="top" title=""><i class="fa icon-twitter-sign"></i></a></li>
            </ul>
            <div class="ct-contact-right">
                <i class="fa fa-phone fa-fw"></i> (040) 123-4567
            </div>
        </div>

        <div class="subnavbar-inner pull-right">
            <ul class="mainnav">
                <li ng-class="{active: $state.includes('main')}">
                    <a ui-sref="main">Home</a>
                </li>
                <li ng-class="{active: $state.includes('flats')}">
                    <a ui-sref="flats">About Us</a>
                </li>
                <li ng-class="{active: $state.includes('flats')}">
                    <a ui-sref="flats">Meet Me</a>
                </li>
                <li><a href="javascript:;">Profile</a></li>
                <li><a ui-sref="logout" ng-click="">Logout</a></li>
            </ul>
        </div>
        <!-- /subnavbar-inner -->
    </div>
    <!-- /subnavbar -->